@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Rubik:wght@300&display=swap');
.Footer {
  text-align: center;
  color: white;
  padding: 30px;
  font-family: 'Rubik', sans-serif;
}

.a-footer {
  color: #263547;
}

.a-footer:hover {
  text-decoration: underline;
}
