.Head {
  box-sizing: border-box;
}

.ul-Head {
  display: inline-flex;
  color: white;
}

li {
  margin: 12px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

li:hover {
  border-bottom: 2px solid;
}
