.Pokedex {
  background-color: #263547;
  color: white;
  text-align: center;
  h1 {
    font-size: 30px;
    padding-top: 20px;
  }
  .p-first-pokedex {
    font-size: 15px;
    color: #6c757d;
  }

  .p-sec-pokedex {
    font-size: 17px;
    margin: 12px;
  }
}

.color {
  color: black;
  border-radius: 5px;
  padding: 8px;
}

.Loading {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}
